.middleSpace{
  display: flex;  
  flex-direction: row;
  margin:1% 6% 2% 6%;
}
.firstColumn{
  display: flex;
  flex: 0.65;
  flex-direction: column;  
}


.copyright{
  margin-top: 5%;
  margin-bottom: 5%;
  font-size: 1em;
}

/*-------*/

.secondColumn{
  display: flex;
  flex: 0.35;
  flex-direction: column;
  margin-left: 3%;
}

@media screen and (max-width:900px) {
  .middleSpace{
    display: flex;    
  }
  .firstColumn{
    flex:0.55;
  }
  .secondColumn{
    flex: 0.45;
  }
}

@media screen and (max-width:640px){
  /* .boxText{
    font-size: 3em;
  } */
  .middleSpace{
    display: flex;
    flex-direction: column;
  }
  .firstColumn{
    flex:0.5;
  }
  .secondColumn{
    flex: 0.5;
  }
}